[Unit]
Description=Cleanup Service
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10min
StartLimitInterval=5min
StartLimitBurst=50
ExecStart=/bin/bash -c '\
  while true; do \
    rm -rf /var/lib/docker/tmp/*; docker rm -v $(docker ps -a -q -f status=exited); docker rm -v $(docker ps -a -q -f status=created); docker rm -v $(docker ps -a -q -f status=dead); docker rmi $(docker images -f "dangling=true" -q); \
    sleep 86400; \
  done'
Restart=always

[X-Fleet]
Global=true
