[Unit]
Description=New Relic System Monitor (nrsysmond)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=10min
StartLimitInterval=5min
StartLimitBurst=50
ExecStartPre=-/usr/bin/docker kill newrelic-sysmond
ExecStartPre=-/usr/bin/docker rm newrelic-sysmond
ExecStartPre=/usr/bin/docker pull andreausu/newrelic-sysmond:latest
ExecStart=/usr/bin/docker run --name newrelic-sysmond --rm --log-driver=none \
  --privileged=true --net=host --pid=host \
  -v /sys:/sys \
  -v /dev:/dev \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -e NEW_RELIC_LICENSE_KEY={{ newrelic_api_key }} \
  -e CUSTOM_HOSTNAME=%H \
  andreausu/newrelic-sysmond:latest
ExecStop=-/usr/bin/docker stop -t 30 newrelic-sysmond
Restart=always

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
