[Unit]
Description=vulcand
Requires=flanneld.service
After=flanneld.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10min
StartLimitInterval=5min
StartLimitBurst=50
ExecStartPre=-/usr/bin/docker kill vulcand
ExecStartPre=-/usr/bin/docker rm vulcand
ExecStartPre=/usr/bin/docker pull mailgun/vulcand:v0.8.0-beta.3
ExecStart=/usr/bin/docker run --rm --log-driver=none --name vulcand -p 80:80 -p 443:443 -p 8182:8182 mailgun/vulcand:v0.8.0-beta.3 /go/bin/vulcand -port=80 -apiInterface=0.0.0.0 -etcd=http://${COREOS_PRIVATE_IPV4}:4001 -logSeverity=INFO
ExecStartPost=-/bin/bash /home/core/cf-record-add.sh {{ app.domain }} A @ ${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker stop vulcand
ExecStopPost=/bin/bash /home/core/cf-record-del.sh {{ app.domain }} A @ ${COREOS_PUBLIC_IPV4}
Restart=always

[X-Fleet]
Conflicts=vulcand@*.service
