[Unit]
Description=vulcand
Requires=flanneld.service
After=flanneld.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10min
StartLimitInterval=5min
StartLimitBurst=50
ExecStartPre=-/usr/bin/docker kill vulcand
ExecStartPre=-/usr/bin/docker rm vulcand
ExecStartPre=/usr/bin/docker pull mailgun/vulcand:v0.8.0-beta.3
ExecStartPre=-/usr/bin/docker pull andreausu/ghntfr-check-uptime:latest

ExecStart=/usr/bin/docker run --rm --log-driver=none --name vulcand \
  -p 80:80 -p 443:443 -p 8182:8182 \
  mailgun/vulcand:v0.8.0-beta.3 /go/bin/vulcand -port=80 -apiInterface=0.0.0.0 \
  -etcd=http://${COREOS_PRIVATE_IPV4}:4001 -logSeverity=INFO

ExecStartPost=-/usr/bin/docker run --rm --log-driver=none --net=host \
  -v /usr/bin/etcdctl:/usr/bin/etcdctl:ro \
  -e CLOUDFLARE_TOKEN={{ cloudflare.token }} \
  -e CLOUDFLARE_EMAIL={{ cloudflare.email }} \
  -e CLOUDFLARE_DOMAIN={{ cloudflare.domain }} \
  andreausu/ghntfr-check-uptime:latest add {{ app.domain }} A @ ${COREOS_PUBLIC_IPV4}

ExecStop=/usr/bin/docker stop vulcand

ExecStopPost=/usr/bin/docker run --rm --log-driver=none --net=host \
  -v /usr/bin/etcdctl:/usr/bin/etcdctl:ro \
  -e CLOUDFLARE_TOKEN={{ cloudflare.token }} \
  -e CLOUDFLARE_EMAIL={{ cloudflare.email }} \
  -e CLOUDFLARE_DOMAIN={{ cloudflare.domain }} \
  andreausu/ghntfr-check-uptime:latest del {{ app.domain }} A @ ${COREOS_PUBLIC_IPV4}
Restart=always

[X-Fleet]
Conflicts=vulcand@*.service
